*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* Apply all Oswald to everything except p elements */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Set custom properties (Color Palette) */

:root {
    --dark-nav: #2E323F;
    --dark-main: #3B4050;
    --dark-sub-text: #6F737F;
    --light: #F1F1F1;
    --light-main-text: #A59678;

    /* other adjustments */
    --left-right-padding: 70px;
    
}

/* Custom fonts

font-family: 'Montserrat', sans-serif;

font-family: 'Oswald', sans-serif;

*/

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: var(--dark-nav);
    color: var(--light);
}

.nav__list {
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav :last-child li:last-child { /* Targets sign up */
    background-color: var(--light-main-text);
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: var(--left-right-padding);
}

.nav {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    gap: 45px;
}

.highlight {
    color: var(--light-main-text);
}

.logo {
    width: 30px;
    margin: auto var(--left-right-padding);

}

.nav li {
    list-style: none;
}

.hero {
    background: var(--dark-main);
    padding: 70px 0;
}

.hero__container {
    margin: 0 5rem;
    gap: 20px
}

.hero__text {
    line-height: 1;
    font-size: 2rem;
    color: var(--light);
    max-width: 480px;
}

.hero__sub-text {
    justify-content: flex-end;
    max-width: 420px;
}

.hero__sub-text__p {
    margin-bottom: 1em;
    color: var(--light);
    line-height: 1.3;
}

.btn {
    width: 200px;
    font-size: 1.15rem;
    text-transform: uppercase;
    background-color: var(--light-main-text);
    color: var(--light);
    border: none;
    padding: 5px 10px;
    border-radius: 50px;

}

.points {
    background: var(--light);
    padding: 50px 50px;
}

.points__container {
    gap: 3.5rem;
    text-align: center;
}

.points h2 {
    color: var(--light-main-text);
}

.points p {
    color: var(--dark-nav);
}

.reasoning {
    padding: 50px 60px;
}

.reasoning__container {
    gap: 30px;
}

.reasoning__container main {
    gap: 25px;
}

.reasoning__main-text {
    color: var(--light-main-text);
}

.reasoning__container main p {
    color: var(--dark-main);
}

.reasoning__container main{
    width: 70%;
}

.img__content {
    max-width: 100%;
}

.other {
    width: 30%;
}

.other p {
    font-size: .9rem;
}

.other > div{
    background: var(--dark-main);
    color: var(--light);
    padding: 20px 15px;
    margin-bottom: 10px;
    text-align: center;
}

.mtc {
    background: var(--dark-main);
}

.mtc__title {
    color: var(--light);
    text-align: center;
    padding-top: 40px;
}

.mtc__container {
    padding: 50px 0;
    justify-content: space-around;
}

.mtc__container h2 {
    margin-bottom: 15px;
}

.mtc__container p {
    margin-bottom: 20px;
}

.mtc h2 {
    color: var(--light-main-text);
}

.mtc p {
    color: var(--light);
}

